<post-feed-filters
  (onFeedAction)="onFeedAction.emit($event)">
</post-feed-filters>

<div class="wrapper-feed-spinner" *ngIf="reloadingPosts">
  <div class="feed-spinner">
    <div class="dot-spinner">
      <span class="bounce"></span>
      <span class="bounce"></span>
      <span class="bounce"></span>
    </div>
  </div>
</div>

<div class="feed-list" style="height: 100%"
  *ngIf="!reloadingPosts"
  infiniteScroll
  [scrollWindow]="false"
  [infiniteScrollDistance]="5"
  [infiniteScrollThrottle]="600"
  [infiniteScrollDisabled]="isLoadingPosts"
  (scrolled)="onScroll($event)"
  >

  <ul class="feed-entries" *ngIf="postFeed.length > 0" >
    <li class="feed-entry" *ngFor="let post of postFeed">
      <post-feed-card
        [post]="post.data"
        [displaySubreddit]="feedService.displaySub"
        (onFeedAction)="onFeedAction.emit($event)">
      </post-feed-card>
    </li>
  </ul>

  <ul class="feed-entries" *ngIf="subFeed.length > 0" >
    <ng-container *ngFor="let sub of subFeed">
      <li class="feed-entry" *ngIf="sub.data.subreddit_type !== 'private'">
        <sub-info-feed-card
          [subInfo]="sub.data">
        </sub-info-feed-card>
      </li>
    </ng-container>
  </ul>
</div>
