@import '~styles/helpers/module';

//  Variables
//  ---------


//  Object Definition
//  -----------------

:host {
  display: flex;
  align-items: center;
  height: 100%;

  .window-controls {
    display: flex;
    align-items: center;
    height: 100%;

    position: relative;
    z-index: 500;

    &.darwin {
      .btn {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 12px;
        height: 12px;

        border-width: 1px;
        border-style: solid;
        border-radius: 100%;

        @include icon {
          display: flex;
          color: transparent;
        }

        &:hover { cursor: default; }
        &:not(:last-child) { margin-right: 9px; }

        &.btn-maximize { background-color: #2DBF3F; border-color: #23A02F; }
        &.btn-minimize { background-color: #FDB338; border-color: #D9942E; }
        &.btn-close { background-color: #FC4C49; border-color: #DB3E3C; }
      }

      &:hover .btn {
        @include icon {
          color: rgba(0, 0, 0, 0.7);

          &.icn-maximize-darwin { font-size: 6.3px }
          &.icn-minimize-darwin { font-size: 8px; }
          &.icn-close-darwin { font-size: 6.4px; padding: 0.5px 0 0 0.6px; }
        }
      }
    }
  }
}
