//  Reddit Icons
//  --------------

@font-face {
  font-family: "Reddit Icons";
  font-weight: normal;
  font-style:  normal;
  src: url("../static/fonts/reddit_icons/reddit_icons.woff") format("woff");
}

//  Lato
//  ----

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style:  normal;
  src: url("../static/fonts/lato/Lato-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 500;
  font-style:  normal;
  src: url("../static/fonts/lato/Lato-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style:  italic;
  src: url("../static/fonts/lato/Lato-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 500;
  font-style:  italic;
  src: url("../static/fonts/lato/Lato-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 200;
  font-style:  normal;
  src: url("../static/fonts/lato/Lato-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 200;
  font-style:  italic;
  src: url("../static/fonts/lato/Lato-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 100;
  font-style:  normal;
  src: url("../static/fonts/lato/Lato-Hairline.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 100;
  font-style:  italic;
  src: url("../static/fonts/lato/Lato-HairlineItalic.woff2") format("woff2");
}
