%icn, .icn:before {
  font-family:    'Reddit Icons';
  font-style:     normal !important;
  font-weight:    normal !important;
  font-variant:   normal !important;
  text-transform: none   !important;
  color:          inherit;

  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

[data-icon]:before,
[class^="icn-"]:before,
[class*=" icn-"]:before {
  @extend %icn;
}

[data-icon]:before { content: attr(data-icon); }
@include icon { display: flex; }

.icn-close-darwin:before { content: "\f100"; }
.icn-maximize-darwin:before { content: "\f101"; }
.icn-minimize-darwin:before { content: "\f102"; }
.icn-unmaximize-darwin:before { content: "\f103"; }
.icn-plus-darwin:before { content: "\f104"; }

.icn-close:before { content: "\f105"; }
.icn-maximize:before { content: "\f106"; }
.icn-minimize:before { content: "\f107"; }

.icn-menu:before { content: "\f108"; }
.icn-gear:before { content: "\f109"; }
.icn-plus:before { content: "\f110"; }
.icn-check:before { content: "\f11"; }
.icn-search:before { content: "\f112"; }
.icn-comment:before { content: "\f113"; }
.icn-arrow-down:before { content: "\f114"; }
.icn-arrow-up:before { content: "\f115"; }

.icn-facebook:before { content: "\f116"; }
.icn-twitter:before { content: "\f117"; }
.icn-tumblr:before { content: "\f118"; }

.icn-icn-default:before { content: "\f119"; }
.icn-self:before { content: "\f120"; }
.icn-nsfw:before { content: "\f121"; }
.icn-spoiler:before { content: "\f122"; }

.icn-arrow-down-o::before { content: "\f123"; }
.icn-arrow-up-o::before { content: "\f124"; }
