.typography {
  font-family: $font-sans;

  line-height: 1.5;

  h1, h2, h3, h4, h5, h6 {
    font-weight: $heading-font-weight;
    font-style:  $heading-font-style;
    line-height: $base-line-height;

    text-rendering: optimizeLegibility;
  }

  h1 { font-size: type-scale(xx-large); }
  h2 { font-size: type-scale(x-large); }
  h3 { font-size: type-scale(large); }
  h4 { font-size: type-scale(medium); }
  h5 { font-size: type-scale(small); }
  h6 { font-size: type-scale(x-small); }

  p {
    font-weight: $paragraph-font-weight;
    font-size:   $paragraph-font-size;

    margin: 0.7em 0;
  }

  a {
    @include themify { color: primary-color(); }

    &:hover { text-decoration: underline; }
  }

  ol, ul {
    padding-left: 2rem;
    margin: 0.3125em 0;
  }

  ul li { font-size: $paragraph-font-size; }
}

.md {
  max-width: 60em;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -webkit-font-smoothing: antialiased;

  h1 { font-size: 1.03rem; line-height: 1.4; }
  h2 { font-size: 1rem; }
  h3 { font-size: .95rem; }
  h4 { font-size: .9rem; }
  h5 { font-size: .9rem; }
  h6 { font-size: .9rem; }

  p {
    word-break: break-word;
    font-size: .76875rem;
    letter-spacing: 0.2px;
    line-height: 1.35;

    -webkit-font-smoothing: antialiased;
    margin: 0;

    code { }
  }

  strong { font-weight: 600; }

  a {
    @include themify { color: primary-color(); }

    &:hover { text-decoration: underline; }
  }

  ul {
    list-style-type: disc;
    margin: .5rem 0px;
    font-size: .76875rem;
  }

  pre {
    white-space: pre-wrap;
    word-break: break-word;

    padding: 5px 5px 5px 15px;

    border-width: 1px;
    border-style: solid;
    border-radius: 2px;

    @include themify {
      background-color: darken(background-color(), 3%);
      border-color: darken(background-color(), 6%);
    }

    code {
      background-color: transparent;
      border: 0;
    }
  }

  code {
    font-size: .8em;
    font-family: $font-monospace;

    border-width: 1px;
    border-style: solid;
    border-radius: 2px;

    @include themify {
      background-color: darken(background-color(), 3%);
      border-color: darken(background-color(), 6%);
    }
  }
}
