<div [ngClass]="
  { 'comment-card-layout': true
  , 'is-parent': isParent
  , 'has-child': comment.replies
  , 'is-collapsed': isCollapsed
  }">

  <div class="section-comment">
    <div class="comment-score">
      <score-button
        [score]="commentScore"
        [likes]="comment.likes"
        (onUpvote)="voteComment($event)"
        (onDownvote)="voteComment($event)">
      </score-button>
    </div>

    <div class="comment-contents">
      <div class="comment-meta">
        <p class="meta">
          <a href="" class="meta-collapse" (click)="collapseComment($event)">
            {{ isCollapsed ? '[+]' : '[–]' }}
          </a>
          <span class="meta-author bold-text">{{ comment.author }}</span>
          <span class="meta-score bold-text" *ngIf="isCollapsed">{{ commentScore }} points</span>
          <span class="meta-time">{{ comment.created_utc * 1000 | amTimeAgo }}</span>
        </p>
      </div>

      <!-- This chunk is taking a lot of CPU power, try to optimize -->
      <div class="comment-body"
        (click)="openExternalLink($event)"
        [innerHTML]="comment.body_html">
      </div>

      <!--
      <div class="comment-actions" *ngIf="user.isAuthenticated()">
        <div class="comment-action">
          <button class="btn-action" (click)="saveComment(!comment.saved)">
            {{ comment.saved ? 'unsave' : 'save' }}
          </button>
        </div>
        <div class="comment-action">
          <button class="btn-action"
            (click)="reportComment()"
            [disabled]="comment.reported">
            {{ comment.reported ? 'reported' : 'report' }}
          </button>
        </div>
        <div class="comment-action">
          <button class="btn-action" (click)="toggleReplyEditor($event)">
            reply
          </button>
        </div>
      </div>
      -->

    </div>
  </div>

  <div class="wrapper-reply-editor" *ngIf="showReplyEditor && user.isAuthenticated()">
    <comment-editor
      [isChild]="true"
      [parentId]="comment.name"
      (onCancel)="this.toggleReplyEditor()"
      (onCommentSubmitted)="addChild($event)">
    </comment-editor>
  </div>

  <div class="section-replies" *ngIf="comment.replies">
    <ng-container *ngFor="let reply of replies; index as i; trackBy: trackByFn">
      <div class="wrapper-reply" *ngIf="reply.kind === 't1' && i < childDisplayLimit" >
        <comment-card
          [comment]="reply.data"
          [isParent]="false">
        </comment-card>
      </div>
    </ng-container>

    <div class="reply-pagination" *ngIf="hasMoreReplies() "(click)="loadMoreReplies()">
      <span class="label">Load more replies</span>
    </div>
  </div>
</div>
