@import '~styles/helpers/module';

//  Variables
//  ---------

//  Object Structure
//  ----------------

:host {

  .comment-card-layout {
    display: flex;
    flex-direction: column;

    margin-left: 23px;
    padding: 1px 0;

    border-left-width: 1px;
    border-left-style: solid;

    @include themify {
      @if (map-get($theme, 'isDark')) {
        @if (background-color('light')) {
          border-left-color: background-color('light');
        } @else {
          border-left-color: lighten(background-color(), 9%);
        }
      } @else {
        border-left-color: darken(background-color(), 15%);
      }
    }

    &.is-parent {
      position: relative;

      min-width: 500px;
      max-width: 1100px;

      background-color: transparent;

      width:  100%;
      height: auto;

      padding: 0;
      margin:  0;
      border-left: 0;

      &.is-collapsed .meta-collapse::after {
        height: 100% !important;
        margin-top: -38px !important;
      }
    }

    &.is-collapsed {
      .comment-body,
      .comment-score,
      .comment-actions,
      .section-replies { display: none !important; }

      .comment-contents {
        margin-left: 44.6px;

        .meta span {
          font-style: italic;
          &.meta-author { color: gray; }
        }
      }
    }
  }

  .section-comment {
    display: flex;

    width: 100%;
    margin: 5px 0 5px 0;

    .comment-score {
      font-size: 10.5px;

      margin-left: 20px;
      padding: 4px 15px 0 0;
    }

    .comment-contents {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;

      padding-right: 25px;

      .comment-meta {
        margin-bottom: 2px;

        .meta {
          font-size: 0.75em;
          -webkit-font-smoothing: antialiased;
          margin: 0;

          @include themify {
            .meta-author { color: accent-color(); }
            .meta-author::after { color: #98ABBA; }

            @if (foreground-color('muted')) {
              .meta-author::after { color: foreground-color('muted'); }
              .meta-score { color: foreground-color('muted'); }
              .meta-time { color: foreground-color('muted'); }
            } @else {
              .meta-author::after { color: rgba(foreground-color(), 0.5); }
              .meta-score { color: rgba(foreground-color(), 0.5); }
              .meta-time { color: rgba(foreground-color(), 0.5); }
            }
          }

          .meta-collapse {
            font-size:   0.83em;
            font-weight: 700;
            letter-spacing: 1px;
          }

          .meta-author::after {
            content: "• ";

            font-size: 0.625em;
            font-weight: 400;

            vertical-align: middle;
            line-height: 15px;

            margin: 0 2px 0 4px;
          }
        }
      }

      .comment-actions {
        display: flex;

        .comment-action .btn-action {
          font-size: 0.625em;
          color: #98ABBA;
        }

        .comment-action { display: flex; padding: 0 4px; }
        .comment-action:first-child { padding-left: 0; }
      }
    }
  }

  .section-replies {

    .reply-pagination {
      display: flex;
      align-items: center;

      margin-left: 23px;
      padding: 5px 0 0 20px;

      border-left-width: 1px;
      border-left-style: solid;

      cursor: pointer;

      @include themify {
        @if (map-get($theme, 'isDark')) {
          @if (background-color('light')) {
            border-left-color: background-color('light');
          } @else {
            border-left-color: lighten(background-color(), 9%);
          }
        } @else {
          border-left-color: darken(background-color(), 15%);
        }
      }

      .label {
        font-size: 0.75em;
        letter-spacing: 0.3px;
        @include themify { color: primary-color(); }
      }
    }
  }
}
