//  Links and Buttons
//  -----------------

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.75em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.006666666667em;

  width: 8.3333333em;
  padding: 0.8333333333em 0;

  cursor: pointer;

  border-radius: 0.25em;

  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;

  &:disabled { cursor: default; }

  @include themify {
    color: background-color();
    background-color: primary-color();
    &:disabled { background-color: rgba(primary-color(), 0.25);  }

    &.outline {
      background-color: transparent;
      border: 1px solid primary-color();
      color: primary-color();

      &:hover {
        color: background-color();
        background-color: primary-color() !important;
      }
    }

    &.secondary {
      background-color: secondary-color();
      &:disabled { background-color: rgba(secondary-color(), 0.25); }

      &.outline {
        background-color: transparent;
        border: 1px solid secondary-color();
        color: secondary-color();

        &:hover {
          color: background-color();
          background-color: primary-color() !important;
        }
      }
    }
  }
}

.link-btn {
  font-family: $font-sans;
  font-size: 0.75em;

  &:hover { text-decoration: underline; }
}

.link {
  &:hover { text-decoration: underline; }
}

//  Form Elements
//  -------------

label.label {
  font-size: 0.835em;
  font-weight: 300;

  @include themify { color: foreground-color(); }

  margin-bottom: 5px;
}

.input {
  border-width: 1px;
  border-style: solid;
  border-radius: .25em;

  background-color: transparent;
  -webkit-font-smoothing: antialiased;

  outline: 0 !important;

  font-size: 12px;
  font-weight: 400;
  @include themify { color: foreground-color(); }

  padding: 7px 15px;

  &::placeholder {
    font-weight: 400;
    letter-spacing: 0.7px;
  }

  @include themify {
    color: foreground-color();

    @if (map-get($theme, 'isDark')) {
      @if (background-color('light')) {
        border-color: background-color('light');
      } @else {
        border-color: lighten(background-color(), 9%);
      }
    } @else {
      border-color: darken(background-color(), 15%);
    }

    &::placeholder { color: rgba(foreground-color(), 0.5); }
    &:disabled { background-color: lighten(background-color(), 10%); }
  }
}

.textarea {
  border-width: 1px;
  border-style: solid;
  border-radius: .25em;
  height: 100px;

  width: 100%;
  resize: vertical;

  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;

  background-color: transparent;
  padding: 8px 12px;

  outline: 0 !important;

  &::placeholder {
    font-family: $font-sans;
    font-weight: 300;
    letter-spacing: 0.7px;
  }

  @include themify {
    color: foreground-color();

    @if (map-get($theme, 'isDark')) {
      @if (background-color('light')) {
        border-color: background-color('light');
      } @else {
        border-color: lighten(background-color(), 9%);
      }
    } @else {
      border-color: darken(background-color(), 15%);
    }

    &::placeholder { color: rgba(foreground-color(), 0.5); }
    &:disabled { background-color: lighten(background-color(), 10%); }
  }
}

.select {
  display: inline-block;

  max-width: 100%;
  height: 30px;

  border: 1px solid #BCBCBC;
  border-radius: .25em;
  padding: .375em 1.75em .375em .75em;

  font-size: .8125em;

  color: inherit;
  appearance: none;

  // Hide the default arrow in IE10 and IE11
  &::-ms-expand { display: none; }

  background-color: #FFF;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right .75em center;
  background-size: 8px 10px;

  &:disabled { background-color: #E9ECEF; }
}

// NOTE: We're including the body element in the selector to increase
// its specificity and thus its priority
body .tag-input {
  position: relative !important;

  > div.ng2-tag-input {
    padding: 0;
    margin: 0;
    border-bottom: 0 !important;
    min-height: auto;
  }

  .ng2-tags-container {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;

    .tag-input-inner {
      border-radius: 5px;

      font-family: $font-sans;
      font-size: 12px;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;

      background-color: transparent;

      padding: 8px 12px;
      height: auto;

      &::placeholder {
        font-family: $font-sans;
        font-weight: 400;
        letter-spacing: 0.7px;
        -webkit-font-smoothing: antialiased;
      }

      @include themify {
        color: foreground-color();
        &::placeholder { color: rgba(foreground-color(), 0.5); }
      }
    }

    tag {
      border-radius: 5px !important;

      height: auto;
      line-height: 1.5;
      padding: 4.5px 15px;
      margin: 0;

      font-family: $font-sans;
      font-size: 12px;
      font-weight: 400;

      background-color: transparent !important;

      .tag-wrapper {
        align-items: center;

        delete-icon {
          display: flex;
          align-items: center;
          justify-content: center;

          width: auto;
          height: auto;

          margin-left: 5px;

          &:hover { transform: none; }

          svg {
            display: flex;

            height: 12px;
            width: 12px;
          }
        }
      }
    }
  }

  .progress-bar {
    height: 1px;
    width: calc(100% - 10px);
    margin-left: 5px;

    &::before { height: 1px; }
  }
}

body tag-input-dropdown {

  .ng2-dropdown-menu {
    width: 100% !important;

    &.ng2-dropdown-menu--inside-element {
      position: absolute !important;
      top: 31px !important;
      left: 0px !important;
    }

    .ng2-menu-item {
      display: flex;
      align-items: center;

      font-family: $font-sans;
      font-size: 12px;
      -webkit-font-smoothing: antialiased;

      height: 25px;
      line-height: 25px;
    }
  }
}

.tag-input {
  @include themify {
    .ng2-tags-container {
      @if (map-get($theme, 'isDark')) {
        @if (background-color('light')) {
          border-color: background-color('light');
        } @else {
          border-color: lighten(background-color(), 9%);
        }
      } @else {
        border-color: darken(background-color(), 15%);
      }

      .tag-input-inner {
        color: foreground-color();
        &::placeholder { color: rgba(foreground-color(), 0.5); }
      }

      tag {
        color: foreground-color();

        delete-icon svg path { fill: foreground-color() !important; }
      }
    }

    .progress-bar {
      @if (primary-color('light')) {
        background-color: primary-color('light') !important;

        &:before {
          background-color: lighten(primary-color('light'), 19%) !important;
        }

      } @else {
        background-color: lighten(primary-color(), 10%) !important;

        &:before { background-color: lighten(primary-color(), 19%) !important }
      }
    }
  }
}

tag-input-dropdown {
  @include themify {
    .ng2-dropdown-menu { background-color: background-color() !important; }

    .ng2-menu-item {
      color: foreground-color() !important;
      background-color: background-color() !important;
    }

    .ng2-menu-item--selected { background-color: darken(background-color(), 10%) !important; }
  }
}
