@import '@styles/helpers';

.MainLayout {
  display: flex;
  flex-direction: column;
  background-color: color(background);

  width: 100%;
  height: 100%;

  > .content {
    position: relative;
    flex-grow: 1;
  }
}
