<div class="post-score">
  <score-button
    [score]="voteCount"
    [likes]="post.likes"
    (onUpvote)="votePost($event)"
    (onDownvote)="votePost($event)">
  </score-button>
</div>

<div class="post-contents">
  <div class="post-sub" *ngIf="displaySubreddit">
    <a class="meta-sub" [routerLink]="['/r', post.subreddit]">
      {{ post.subreddit }}
    </a>
  </div>

  <div class="post-link">
    <a class="link" (click)="emitFeedAction('open', $event)">
      {{ post.title }}
    </a>
  </div>

  <div class="post-meta">
    <p class="meta">
      Submitted
      {{ post.created_utc * 1000 | amTimeAgo }}
      by
      <span class="meta-author">{{ post.author }}</span>
    </p>
  </div>

  <!--
  <div class="post-actions">
    <div class="post-action">
      <span class="btn-action">
        <a [routerLink]="post.permalink" target="_blank">
          {{ post.num_comments }} comments
        </a>
      </span>
    </div>

    <div class="post-action">
      <button type="button" class="btn-action" (click)="savePost(!post.saved)">
        {{ post.saved ? 'Unsave' : 'Save' }}
      </button>
    </div>

    <div class="post-action">
      <button type="button" class="btn-action"
        (click)="emitFeedAction('report')"
        [disabled]="post.reported">
        {{ post.reported ? 'Reported' : 'Report' }}
      </button>
    </div>

    <div class="post-action">
      <button type="button" class="btn-action" (click)="emitFeedAction('share')">
        Share
      </button>
    </div>

    <div class="post-action" *ngIf="this.canBePreviewed()">
      <button type="button" class="btn-action" (click)="emitFeedAction('expand')">
        Expand
      </button>
    </div>
  </div>
  -->
</div>

<div class="wrapper-thumbnail">
  <div
    [ngClass]="{ 'post-thumbnail': true, 'static-bg': !hasThumbnail() }"
    [ngStyle]="
      { 'background-image': hasThumbnail() ? 'url(' + post.thumbnail + ')' : null
      }"
    >

    <span *ngIf="!hasThumbnail()" class="static-thumbnail">
      <i [ngClass]="'icn-' + (post.thumbnail || 'default')"></i>
    </span>
  </div>

  <span class="post-comments">
    <i class="icn-comment"></i>
    {{ post.num_comments }} comments
  </span>
</div>
