<ul class="sidebar-layout">

  <li class="sidebar-section">
    <div class="sidebar-section-entries-container">
      <ul class="sidebar-section-entries">
        <li class="sidebar-section-entry">
          <a class="entry-link" routerLink="/">
            Frontpage
          </a>
        </li>
        <li class="sidebar-section-entry" *ngIf="user.isAuthenticated()">
          <a class="entry-link" routerLink="/saved">
            Saved
          </a>
        </li>
        <li class="sidebar-section-entry">
          <a class="entry-link"  routerLink="/r/popular">
            Popular
          </a>
        </li>
        <li class="sidebar-section-entry" *ngIf="user.isAuthenticated()">
          <a class="entry-link" routerLink="/r/all">
            All Posts
          </a>
        </li>
      </ul>
    </div>

    <hr class="sidebar-section-separator">
  </li>

  <li class="sidebar-section" *ngIf="user.isAuthenticated()">
    <div class="sidebar-section-header-container">
      <span class="sidebar-section-header">My Multireddits</span>
    </div>

    <div class="sidebar-section-entries-container">
      <ul class="sidebar-section-sub-entries">
        <li *ngFor="let multi of multiredditList" class="sidebar-section-sub-entry">

          <a [routerLink]="multi.path" class="sub-link">
            <span class="sub-prefix">m/</span>
            <span class="sub-name">{{ multi.display_name }}</span>
          </a>
        </li>
      </ul>
    </div>

    <hr class="sidebar-section-separator">
  </li>

  <li class="sidebar-section">
    <div class="sidebar-section-header-container">
      <span class="sidebar-section-header">
        {{ user.isAuthenticated() ? 'My' : 'Popular' }}
        Subreddits
      </span>
    </div>

    <div class="sidebar-section-entries-container">
      <ul class="sidebar-section-sub-entries">
        <li *ngFor="let sub of subredditList" class="sidebar-section-sub-entry">

          <a [routerLink]="sub.url" class="sub-link">
            <span class="sub-prefix">r/</span>
            <span class="sub-name">{{ sub.display_name }}</span>
          </a>
        </li>

        <li (click)="fetchSubList()" class="sub-entry pagination">
          <span class="label">Load more&hellip;</span>
        </li>

      </ul>
    </div>
  </li>
</ul>
