@import '~styles/helpers/module';

//  Variables
//  ---------

$display-thumbnails: false;

//  Object Definition
//  -----------------

:host {
  display: flex;

  position: fixed;
  z-index: 125;
  top: $topbar-height;
  left: -241px;

  width: 240px;
  height: calc(100% - #{$topbar-height});

  border-right-width: 1px;
  border-right-style: solid;

  @include themify {
    background-color: background-color();

    @if (map-get($theme, 'isDark')) {
      @if (background-color('light')) {
        border-right-color: background-color('light');
      } @else {
        border-right-color: lighten(background-color(), 9%);
      }
    } @else {
      border-right-color: darken(background-color(), 15%);
    }

    @if (map-get($theme, 'sidebarShadow')) {
      box-shadow: 1px 0px 12px -1px rgba(0, 0, 0, 0.0);
    } @else {
      box-shadow: 0 !important;
    }
  }

  transition: left 300ms, box-shadow 0.3s;

  &.is-active {
    left: 0px;
    box-shadow: 1px 0px 12px -1px rgba(0, 0, 0, 0.25);
  }

  .sidebar-layout {
    list-style-type: none;

    width:  100%;
    height: 100%;
    overflow-y: auto;

    padding: 0;
    margin: 0;

    padding-top: 10px;

    .sidebar-section-header-container {
      padding: 2px 25px 5px 25px;

      .sidebar-section-header {
        font-size: .625rem;
        font-weight: 800;
        @include themify { color: primary-color(); }

        letter-spacing: 1.5px;
        text-transform: uppercase;

        -webkit-font-smoothing: antialiased;
      }
    }

    .sidebar-section-entries {
      list-style-type: none;

      padding: 0;
      margin: 0;

      .sidebar-section-entry {
        padding: 0 25px;

        .entry-link {
          font-size: .8125rem;
          font-weight: 400;
          letter-spacing: 0.3px;
          @include themify { color: foreground-color(); }

          -webkit-font-smoothing: antialiased;
        }
      }
    }

    .sidebar-section-sub-entries {
      list-style-type: none;

      padding: 0;
      margin: 0;

      .pagination {
        display: flex;
        padding: 5px 25px 10px 25px;

        @include themify { background-color: background-color(); }

        transition: background-color 200ms;

        &:hover {
          cursor: pointer;
          @include themify { background-color: darken(background-color(), 5%); }
        }

        .label {
          font-size: .71875rem;
          letter-spacing: 1.2px;
          cursor: pointer;
          @include themify { color: primary-color(); }
        }
      }

      .sidebar-section-sub-entry {
        display: flex;
        align-items: center;

        padding: 0 25px;
        margin-bottom: 7px;

        &:last-of-type:not(:last-child) { margin-bottom: 0; }

        .sub-link {
          display: flex;

          font-size: .71875rem;
          font-weight: 600;
          letter-spacing: 0.5px;

          -webkit-font-smoothing: antialiased;

          &:hover { text-decoration: underline; }

          @include themify {
            .sub-prefix { color: rgba(foreground-color(), 0.5); }
            .sub-name { color: foreground-color(); }
          }
        }
      }
    }

    .sidebar-section-separator {
      background: transparent;

      border: 0;
      margin: 10px 25px 0 25px;

      border-bottom-width: 1px;
      border-bottom-style: solid;

      @include themify {
        @if (map-get($theme, 'isDark')) {
          @if (background-color('light')) {
            border-bottom-color: background-color('light');
          } @else {
            border-bottom-color: lighten(background-color(), 9%);
          }
        } @else {
          border-bottom-color: darken(background-color(), 15%);
        }
      }
    }
  }
}

.root-container:not(.darwin) :host {
  height: calc(100% - #{$topbar-height + $win32-border-width});
  &.is-active { left: $win32-border-width; }
}
