@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src:
    local("Lato"),
    url("@assets/fonts/Lato-Regular.ttf")
      format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style:  normal;
  src:
    local("Lato"),
    url("@assets/fonts/Lato/Lato-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 500;
  font-style:  normal;
  src:
    local("Lato"),
    url("@assets/fonts/Lato/Lato-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style:  italic;
  src:
    local("Lato"),
    url("@assets/fonts/Lato/Lato-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 500;
  font-style:  italic;
  src:
    local("Lato"),
    url("@assets/fonts/Lato/Lato-BoldItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 200;
  font-style:  normal;
  src:
    local("Lato"),
    url("@assets/fonts/Lato/Lato-Light.ttf")
    format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 200;
  font-style:  italic;
  src:
    local("Lato"),
    url("@assets/fonts/Lato/Lato-LightItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 100;
  font-style:  normal;
  src:
    local("Lato"),
    url("@assets/fonts/Lato/Lato-Hairline.ttf")
    format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 100;
  font-style:  italic;
  src:
    local("Lato"),
    url("@assets/fonts/Lato/Lato-HairlineItalic.ttf")
    format("truetype");
}
