<div class="post-feed-filters-layout">

  <div class="post-feed-actions">
    <div class="post-feed-action">
      <button class="btn-link sup-text" (click)="emitFeedAction('submit')">
        Submit new post
      </button>
    </div>
    <div class="post-feed-action">
      <search-bar
        placeholder="Search"
        [(searchQuery)]="searchQuery">
      </search-bar>
    </div>
  </div>

  <div class="post-feed-filters">
    <ul class="post-feed-filter" *ngIf="!searchQuery.trim()">
      <li class="filter" [class.active]="sortMode === 'hot'">
        <button type="button" class="btn-link" (click)="updateSortMode('hot')">
          Hot
        </button>
      </li>
      <li class="filter" [class.active]="sortMode === 'top'">
        <button type="button" class="btn-link" (click)="updateSortMode('top')">
          Top
        </button>
      </li>
      <li class="filter" [class.active]="sortMode === 'new'">
        <button type="button" class="btn-link" (click)="updateSortMode('new')">
          New
        </button>
      </li>
      <li class="filter" [class.active]="sortMode === 'rising'">
        <button type="button" class="btn-link" (click)="updateSortMode('rising')">
          Rising
        </button>
      </li>
      <li class="filter" [class.active]="sortMode === 'controversial'">
        <button type="button" class="btn-link" (click)="updateSortMode('controversial')">
          Controversial
        </button>
      </li>
    </ul>

    <ul class="post-feed-filter" *ngIf="searchQuery.trim()">
      <li class="filter" [class.active]="sortMode === 'relevance'">
        <button type="button" class="btn-link" (click)="updateSortMode('relevance')">
          Relevance
        </button>
      </li>
      <li class="filter" [class.active]="sortMode === 'top'">
        <button type="button" class="btn-link" (click)="updateSortMode('top')">
          Top
        </button>
      </li>
      <li class="filter" [class.active]="sortMode === 'new'">
        <button type="button" class="btn-link" (click)="updateSortMode('new')">
          New
        </button>
      </li>
      <li class="filter" [class.active]="sortMode === 'comments'">
        <button type="button" class="btn-link" (click)="updateSortMode('comments')">
          Comments
        </button>
      </li>
    </ul>
  </div>
</div>
<div class="box-shadow"></div>
