@import '~styles/helpers/module';

//  Variables
//  ---------

$display-shadow: true;

//  Object Structure
//  ----------------

:host {
  flex-shrink: 0;
  position: relative;
  z-index: 50;

  .post-feed-filters-layout {
    position: relative;
    z-index: 30;

    padding: 27px 8.6767895879% 15px 8.6767895879%;

    border-bottom-width: 1px;
    border-bottom-style: solid;

    @include themify {
      background-color: background-color();

      @if (map-get($theme, 'isDark')) {
        @if (background-color('light')) {
          border-bottom-color: background-color('light');
        } @else {
          border-bottom-color: lighten(background-color(), 9%);
        }
      } @else {
        border-bottom-color: darken(background-color(), 15%);
      }
    }

    transition: border-bottom-color 350ms ease-in-out;
  }

  .box-shadow {
    position: absolute;
    z-index: 20;
    left: 1%;
    bottom: 4px;

    width: 98%;
    height: 17px;
    border-radius: 48%;

    @include themify {
      display: if(map-get($theme, 'postFeedShadow'), block, none);

      @if (map-get($theme, 'isDark')) {
        box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.5);
      } @else {
        box-shadow: 0px 3px 17px 0px rgba(0, 0, 0, 0.14);
      }
    }

    transition: box-shadow 350ms ease-in-out;
  }

  .post-feed-actions {
    display: flex;
    justify-content: space-between;

    margin-bottom: 15px;

    .post-feed-action {
      display: flex;

      .btn-link {
        font-size: .5375rem;
        letter-spacing: 2px;
        line-height: 1.5;

        @include themify { color: primary-color() }
      }
    }
  }

  .post-feed-filters {

    .post-feed-filter {
      display: flex;
      justify-content: space-between;

      list-style-type: none;
      margin: 0;
      padding: 0;

      @include themify { color: rgba(foreground-color(), 0.65); }

      .filter .btn-link {
        font-size: .625rem;
        font-weight: 600;
        letter-spacing: 1.5px;
        text-transform: uppercase;

        -webkit-font-smoothing: antialiased;

        //@include themify { &.active { color: foreground-color(); } }
      }

      @include themify { .filter.active .btn-link { color: foreground-color(); } }
    }
  }

}
