//  General
//  ------

$topbar-height: 45px;
$app-border-radius: 5.5px;

//  Base Typography
//  ---------------

$type-scale: (
  xx-large: 1.602em,
  x-large:  1.424em,
  large:    1.266em,
  medium:   1.125em,
  base:     1em,
  small:    .79em,
  x-small:  .702em
);

$font-sans:      'Lato', sans-serif;
$font-serif:      serif;
$font-monospace:  'Inconsolata', monospace;
$font-decorative: 'Inconsolata';

$base-font-family: $font-sans;
$base-font-weight: normal;
$base-font-size:   16px;
$base-line-height: 1.5;

$heading-font-weight: normal;
$heading-font-style:  normal;

$paragraph-font-weight: normal;
$paragraph-font-size:   0.9em;
