.container {
  @include flex-grid-row(collapse, none);

  &.inner { @include flex-grid-column; }
  &.stack { flex-flow: column nowrap !important; }
  &.full-size { min-height: 100vh; min-width: 100vw; }
  &.collapse-self { padding-right: 0; padding-left: 0; }
  &.has-gutters { @include grid-column-gutter; }

  > .container:not(.has-gutters) { @include grid-col-collapse; }

  &.collapse {
    > .column, .columns, .container { @include grid-col-collapse; }
    > .column > .row, .columns > .row, .container > .row, > .row, > .container {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.root-container {
  &:not(.darwin) {
    width: 100vw;
    height: 100vh;

    border-width: 1px;
    border-style: solid;

    @include themify {

      // This probably isn't ideal, maybe we should have a way
      // to allow themes to explicitly define their own border color
      @if (map-get($theme, 'isDark')) {
        border-color: rgba(foreground-color(), 0.3);
      } @else {
        border-color: rgba(foreground-color(), 0.6);
      }
    }

    .container.full-size {
      min-width: calc(100vw - #{$win32-border-width * 2});
      min-height: calc(100vh - #{$win32-border-width * 2});
    }

    .overlay-container {
      width: calc(100vw - #{$win32-border-width * 2});
      height: calc(100vw - #{$win32-border-width * 2});

      top: $win32-border-width;
      left: $win32-border-width;
    }
  }

  @include themify {
    background-color: background-color();
    color: foreground-color();
  }
}

.ng-outlet {
  width: 100%;
  height: 100%;

  > ng-component {
    @extend .container;
    @extend .align-start;

    padding-top: $topbar-height;

    box-sizing: content-box;
    width: 100vw;
    height: calc(100vh - #{$topbar-height});
  }
}

.overlay-container {
  display: flex;
  flex-direction: column;

  position: fixed;
  z-index:  200;
  top:      0px;
  left:     0px;

  width:  100vw;
  height: 100vh;

  overflow-y: auto;

  background-color: rgba(30, 30, 30, 0.82);

  .btn-close {
    position: fixed;
    right:    30px;
    top:      calc(20px + #{$topbar-height});

    @include icon {
      font-size: 1.125rem;
      @include themify { color: foreground-color(); }
    }
  }

  .overlay-contents {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center;

    margin-top: $topbar-height;
  }
}


//  Flex Containers
//  ---------------

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
