@import '~styles/helpers/module';

//  Variables
//  ---------

$card-width: 600px;
$card-border-radius: 4px;

//  Object Structure
//  ----------------

:host {
  display: flex;
  flex-direction: column;

  width:  $card-width;
  height: auto;

  border-radius: $card-border-radius;

  @include themify { background-color: background-color(); }

  margin-top: 7.5%;

  transition: height 700ms ease-in;

  .card-title {
    display: flex;
    align-items: center;

    height: 40px;
    padding: 0 37.5px;

    border-bottom-width: 1px;
    border-bottom-style: solid;

    @include themify {
      @if (map-get($theme, 'isDark')) {
        -webkit-font-smoothing: antialiased;

        @if (background-color('light')) {
          border-bottom-color: background-color('light');
        } @else {
          border-bottom-color: lighten(background-color(), 9%);
        }
      } @else {
        border-bottom-color: darken(background-color(), 15%);
      }
    }

    .title { font-size: .875rem; }
  }

  .form-group {
    flex-grow: 1;

    &, .form-inputs {
      display: flex;
      flex-direction: column;
    }

    margin: 25px 0 25px;
    padding: 0px 75px;

    .form-input {
      &:not(:last-child) { margin: 0 0 10px 0; }

      .wrapper-input { display: flex; align-items: center; }

      .input-radio {
        flex-shrink: 0;
        font-size: .75rem;
        margin-right: 10px;
      }

      .label {
        font-size:   .8875rem;
        font-weight: 400;
        line-height: 1.2;

        -webkit-font-smoothing: antialiased;
        margin: 0;
      }
    }

    .form-controls {
      display: flex;
      margin-top: 20px;

      .form-control { margin-right: 15px; }
    }
  }

  .form-success {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 25px 0 25px;
    padding: 0 75px;

    .button { margin-top: 15px; }
  }

  .wrapper-spinner {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 8.125rem;

    .bar-spinner { font-size: .5em; }
  }
}
