@import '~styles/helpers/module';

//  Variables
//  ---------

//  Object Structure
//  ----------------

:host {
  display: flex;
  flex-direction: column;

  height: calc(100vh - 45px);
  overflow-y: auto;
}
