@import '~styles/helpers/module';

//  Variables
//  ---------

$btn-border-radius: 3px;

$btn-green-color: #40D079;
$btn-blue-color:  #6850FC;
$btn-red-color:   #E3472F;

//  Object Definition
//  -----------------

:host {
  display: flex;
  border-radius: $btn-border-radius;

  cursor: pointer;

  box-shadow: 3px 6px 17px -3px rgba(37, 37, 37, 0.35);

  &.green { background-color: $btn-green-color; }
  &.blue { background-color: $btn-blue-color; }
  &.red { background-color: $btn-red-color; }

  .split-btn-left {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8.5px 10px;

    background: transparent;

    .label {
      font-size: 12px;
      font-weight: 400;
      color: #FFF;

      user-select: none;
      text-transform: uppercase;
    }
  }

  .split-btn-right {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8.5px 10px;

    background: transparent;

    border-left: 1px solid rgba(#EFEFEF, 0.25);
  }
}

// Select the actual content that goes into the component.
:host /deep/ {
  .label {
    font-size: 12px;
    font-weight: 400;
    color: #FFF;

    text-transform: uppercase;
  }

  @include icon {
    display: flex;

    font-size: 0.84em;
    color: #FFF;
  }
}
