<div [ngClass]="['root-container full-size container', 'theme-' + appTheme, platform]">
  <div class="full-size inner container">
    <app-topbar
      [isSidebarActive]="showSidebar"
      (onSidebarToggle)="toggleSidebar()">
    </app-topbar>

    <app-sidebar
      *ngIf="!updatingState && user.isAuthenticated()"
      [ngClass]="{ 'is-active': showSidebar }">
    </app-sidebar>

    <div class="ng-outlet inner container">
      <router-outlet *ngIf="!updatingState && user.isAuthenticated()">
      </router-outlet>

      <app-login-screen *ngIf="!updatingState && !user.isAuthenticated()">
      </app-login-screen>
    </div>
  </div>
</div>
