<div class="wrapper-comment-editor" *ngIf="user.isAuthenticated()">
  <comment-editor
    (onCommentSubmitted)="addComment($event)"
    [parentId]="post.name">
  </comment-editor>
</div>

<div class="comments-controls">
  <div class="comments-meta">
    <i class="icn-comment"></i>
    <span class="meta">{{ post.num_comments }} comments</span>
  </div>

  <div class="comments-modes">
    <div class="comments-mode" [class.active]="sortMode === 'confidence'">
      <button class="link-btn" (click)="changeSortMode('confidence')">
        best
      </button>
    </div>
    <div class="comments-mode" [class.active]="sortMode === 'top'">
      <button class="link-btn" (click)="changeSortMode('top')">
        top
      </button>
    </div>
    <div class="comments-mode" [class.active]="sortMode === 'controversial'">
      <button class="link-btn" (click)="changeSortMode('controversial')">
        controversial
      </button>
    </div>
    <div class="comments-mode" [class.active]="sortMode === 'old'">
      <button class="link-btn" (click)="changeSortMode('old')">
        old
      </button>
    </div>
    <div class="comments-mode" [class.active]="sortMode === 'random'">
      <button class="link-btn" (click)="changeSortMode('random')">
        random
      </button>
    </div>
    <div class="comments-mode" [class.active]="sortMode === 'qa'">
      <button class="link-btn" (click)="changeSortMode('qa')">
        Q&amp;A
      </button>
    </div>
  </div>
</div>

<div class="wrapper-feed-spinner" *ngIf="loadingComments">
  <div class="feed-spinner">
    <div class="dot-spinner">
      <span class="bounce"></span>
      <span class="bounce"></span>
      <span class="bounce"></span>
    </div>
  </div>
</div>

<div class="comments-feed" *ngIf="!loadingComments && comments.length > 0">
  <ul class="comments-feed-entries">
    <li class="comments-feed-entry"
      *ngFor="let comment of comments; index as i; trackBy: trackByFn">

      <comment-card
        *ngIf="i < displayLimit"
        [comment]="comment.data"
        [isParent]="true"
        (onCommentAction)="emitCommentAction($event)">
      </comment-card>

    </li>
  </ul>

  <div class="comments-morechildren" *ngIf="hasMoreComments()" (click)="loadMore()">
    <button type="button" class="btn-load button outline" (click)="loadMore()">
      Load {{ nextComments.count }} more comments
    </button>
  </div>
</div>
