@import '~styles/helpers/module';

//  Variables
//  ---------

//  Object Definition
//  -----------------

:host {
  background-color: inherit;

  .button {
    transition: width 700ms ease;

    &.outline { background-color: inherit; }

    .wrapper-spinner {
      display: flex;
      padding-left: 11px;

      background-color: inherit;
    }

    .contents {
      display: flex;
      flex-grow: 1;
      justify-content: center;
    }

    &.is-loading {
      justify-content: flex-start;

      .contents {
        justify-content: flex-start;

        padding-left: 9px;
      }
    }
  }
}

//  Spinner Types
//  -------------

:host {
  .spinner.round-spinner {
    font-size: 10px;
    text-indent: -9999em;

    width: 12px;
    height: 12px;

    margin: 0;

    border-radius: 100%;

    @include themify {
      $bg-color: foreground-color();
      background: linear-gradient(to right, #{$bg-color} 10%, rgba($bg-color, 0) 42%);
    }

    position: relative;

    animation: roundSpinner 1.4s infinite linear;
    transform: translateZ(0);

    background-color: inherit !important;

    &:before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 50%;
      height: 50%;

      border-radius: 100% 0 0 0;
    }

    &:after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      width: 75%;
      height: 75%;

      margin: auto;

      background-color: inherit;
      border-radius: 100%;
    }
  }

  .button.outline {
    background-color: inherit;
    transition:
      width 700ms ease,
      background-color 300ms ease-in-out,
      color 300ms ease-in-out;

    .round-spinner {
      @include themify {
        $bg-color: primary-color();
        background: linear-gradient(to right, #{$bg-color} 10%, rgba($bg-color, 0) 42%);
        background-color: inherit !important;
      }
    }
  }
}
