<div [ngClass]="{ 'theme-picker-layout': true }">
  <div class="theme-picker-toggle">
    <button type="button" class="btn-trigger" (click)="toggleMenu()">
      <i class="icn-arrow-down-o"></i>
    </button>
  </div>

  <div class="theme-picker-menu" *ngIf="showMenu" [@enterAnimation]>
    <div class="menu-heading">
      <p class="heading">Themes</p>
    </div>
    <ul class="theme-picker-entries">
      <ng-container *ngFor="let theme of themes">
        <li
          [ngClass]="['theme-picker-entry', 'theme-' + theme]"
          (click)="changeTheme(theme)">
          {{ theme | titlecase }}
        </li>
      </ng-container>
    </ul>
  </div>
</div>
