@import '~styles/helpers/module';

//  Variables
//  ---------


//  Object structure
//  ----------------

:host {
  .theme-picker-layout { position: relative; }

  .theme-picker-toggle {

    .btn-trigger {
      display: flex;
      align-items: center;

      border-width: 1px;
      border-style: solid;
      border-radius: 12px;

      padding: 1px;

      &::before {
        content: "";
        display: block;

        border-width: 1px;
        border-style: solid;
        border-radius: 50%;

        width:  15px;
        height: 15px;
      }

      @include icon {
        font-size: .5rem;
        margin: 0 6px 0 5px;
        @include themify { color: rgba(foreground-color(), 1); }
      }

      @include themify {
        border-color: rgba(foreground-color(), 0.4);

        &::before {
          background-color: primary-color();
          border-color: rgba(foreground-color(), 0.3);
        }
      }
    }
  }

  .theme-picker-menu {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 30px;
    left: -31px;

    min-width: 110px;

    border-width: 1px;
    border-style: solid;
    border-radius: 7px;

    box-shadow: 1px 4px 12px -2px rgba(0, 0, 0, 0.25);

    &::before {
      position: absolute;
      top: -8px;
      left: 45px;

      content: "";
      display: block;

      width: 0px;
      height: 0px;

      border-left: 7px solid transparent;
      border-right: 7px solid transparent;

      border-bottom-width: 8px;
      border-bottom-style: solid;
    }

    @include themify {
      background-color:  background-color();

      @if (map-get($theme, 'isDark')) {
        @if (background-color('light')) {
          border-color: background-color('light');
          &::before { border-bottom-color: background-color('light'); }
        } @else {
          border-color: lighten(background-color(), 9%);
          &::before { border-bottom-color: lighten(background-color(), 9%); }
        }
      } @else {
        border-color: darken(background-color(), 15%);
        &::before { border-bottom-color: darken(background-color(), 15%); }
      }
    }

    .menu-heading {
      display: flex;
      align-items: center;
      justify-content: center;

      border-bottom-width: 1px;
      border-bottom-style: solid;

      padding: 3px 0px;
      margin: 3px 12px 4px 12px;

      @include themify {
        .heading { color: rgba(foreground-color(), 0.9); }

        @if (map-get($theme, 'isDark')) {
          @if (background-color('light')) {
            border-bottom-color: background-color('light');
          } @else {
            border-bottom-color: lighten(background-color(), 9%);
          }
        } @else {
          border-bottom-color: darken(background-color(), 15%);
        }
      }

      .heading {
        font-size: .78125rem;
        font-weight: 400;
        letter-spacing: 0.3px;
        -webkit-font-smoothing: antialiased;

        margin: 0;
      }
    }

    .theme-picker-entries {
      list-style-type: none;

      padding: 5px 0;
      margin: 0;

      @include themify { color: rgba(foreground-color(), 0.8); }

      .theme-picker-entry {
        display: flex;
        align-items: center;

        font-size: .6875rem;
        font-weight: 400;
        letter-spacing: 0.75px;
        -webkit-font-smoothing: antialiased;

        padding: 1px 11px;
        cursor: pointer;

        &:not(:last-child) { margin-bottom: 1px; }

        &::before {
          content: "";
          display: block;

          width: 10px;
          height: 10px;

          margin-right: 5px;

          border-width: 1px;
          border-style: solid;
          border-radius: 2px;
        }

        @include themify('local') { &:before { background-color: primary-color(); } }
        @include themify('parent') { &:before { border-color: rgba(foreground-color(), 0.35); } }
      }
    }
  }
}
