@use "@styles/helpers";
@use "@styles/mixins";

.Sidebar {
  width: 250px;
  height: 100%;

  background: red;
  border-right: 1px solid;
  border-color: var(--border-color);

  position: absolute;
  left: 0px;
  transition: left 300ms ease;

  &.-closed {
    left: -250px;
  }
}
