<div class="section section-left">
  <div class="topbar-controls">
    <div class="topbar-control">
      <button type="button" class="btn-trigger" (click)="toggleSidebar()">
        <i class="icn-menu"></i>
      </button>
    </div>
    <div class="topbar-control">
      <theme-picker>
      </theme-picker>
    </div>
  </div>
</div>

<div class="page-label">
  <span class="label">{{ pageLabel }}</span>
</div>

<div class="section section-right">
  <div class="user-links">
    <div *ngIf="!user.isAuthenticated()" class="links">
      <div class="login-link">
        <button class="link-btn" (click)="login()">
          Log in
        </button>
      </div>
    </div>

    <div *ngIf="user.isAuthenticated()" class="links">
      <div class="user-meta">
        <p>Welcome, {{ user.userData.name }}</p>
      </div>
      <div class="login-link">
        <button class="link-btn" (click)="logout()">
          Log out
        </button>
      </div>
    </div>
  </div>

  <div class="wrapper-window-controls">
    <window-controls></window-controls>
  </div>
</div>
