@import '~styles/helpers/module';

//  Variables
//  ---------

$card-min-width: 500px;
$card-max-width: 1200px;
$card-height: 95px;

$card-background: #FFF;

//  Object Structure
//  ----------------

:host {
  display: flex;

  height: $card-height;
  width:  100%;

  min-width: $card-min-width;
  max-width: $card-max-width;

  background: #FFF;
  box-shadow: 2px 7px 18px -4px rgba(37, 37, 37, 0.26);

  .card-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
    height: 89px;
    width:  110px;

    background-color:    #F5F6F9;
    background-size:     cover;
    background-position: center center;

    border-radius: 3px;
    margin: 3px 0px 3px 3px;

    .thumbnail {
      display: flex;
      align-items: center;
      justify-content: center;

      width:  40px;
      height: 40px;

      border-radius: 100%;
      background-color: #E2E3E5;

      @include icon {
        display: flex;
        align-items: center;
        justify-content: center;

        color: #F7F8FA;
      }
    }
  }

  .card-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    margin:  0px 15px;
    padding: 10px 0px;

    .card-title {
      display: flex;

      .card-link {
        font-size: 14px;
        font-weight: 400;

        &:hover { text-decoration: underline; }
      }
    }

    .card-meta {
      .meta {
        font-size: 0.65em;
        margin: 0;

        .meta-info {
          color: #888;

          &:before {
            content: "\2022   ";
            margin: 0 3px 0 3px;

            font-size: 0.8em;;
            color: #888;
            line-height: 15px;
            vertical-align: middle;
          }
        }
      }
    }

    .card-description {
      .description {
        font-size: 0.70em;
        color:     #696969;
        line-height: 1.2;

        margin: 0;
      }
    }
  }

  .card-actions {
    display: flex;
    align-items: center;

    margin-right: 20px;

    .btn-action {
      width:  30px;
      height: 30px;

      border-radius: 3px;
      background-color: #E2E3E5;

      &.is-checked { background-color: #24C64C; }

      @include icon {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 0.85em;
        color: #FFF;
      }
    }
  }
}
