<div [ngClass]="{ 'comment-editor-layout': true, 'is-child': isChild }">
  <div class="comment-editor-textarea">
    <textarea class="textarea" name="comment-editor-textarea"
      autosize
      (focus)="editorHasFocus = true"
      (blur)="editorHasFocus = false"
      [spellcheck]="editorHasFocus ? true : false"
      [(ngModel)]="comment.text">
    </textarea>
  </div>

  <div class="comment-editor-actions">
    <div class="comment-editor-action">
      <submit-button
        (click)="submitComment()"
        [isLoading]="loadingRequest"
        [outline]="true">
        Submit
      </submit-button>
    </div>
  </div>
</div>
